{% include "header.html" %}

    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-7">
                  <div class="detail-box">
                    <h1>
                      We Make Visa <br>
                      Process Faster
                    </h1>
                    <p>
                      Seeking professional visa advice ensures compliance, avoids delays, and enhances the likelihood of a successful application process.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-7">
                  <div class="detail-box">
                    <h1>
                      We Make Visa <br>
                      Process Faster
                    </h1>
                    <p>
                      To accurately assist you, could you please provide more details or context around the specific advice or aspect of visa guidance you're interested in? This will help me tailor a quote that best fits your needs.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-9 col-lg-7">
                  <div class="detail-box">
                    <h1>
                      We Make Visa <br>
                      Process Faster
                    </h1>
                    <p>
                      Understanding visa requirements and preparing documents meticulously are key to navigating the application process smoothly and efficiently.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container idicator_container">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our services
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Business Visa
              </h6>
              <p>
                Thorough preparation and clear business intent are crucial for securing a business visa, facilitating international partnerships, and expanding global market presence              </p>
              {% comment %} <a href="">
                Read More
              </a> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Work Visa
              </h6>
              <p>
                Diligent documentation and meeting specific qualifications are essential for obtaining a work visa, enabling international employment and career growth opportunities              </p>
              {% comment %} <a href="">
                Read More
              </a> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Tourist Visa
              </h6>
              <p>
                Ensure your travel plans are detailed and accommodation bookings confirmed to successfully apply for a tourist visa for leisure or exploration.              </p>
              {% comment %} <a href="">
                Read More
              </a> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="static/images/s4.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Student Visa
              </h6>
              <p>
                Achieving academic documentation and proof of financial stability is fundamental for securing a student visa for international education opportunities              </p>
              {% comment %} <a href="">
                Read More
              </a> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 px-0">
          <div class="img_container">
            <div class="img-box">
              <img src="static/images/about-img.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 px-0">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Who Are We?
              </h2>
            </div>
            <p>
              As visa advisers, we are guides through the complex maze of immigration, bridging cultures and dreams with legal precision and compassionate understanding. Our expertise lights the path for those seeking new horizons, ensuring a smoother journey towards achieving their global aspirations and navigating international borders with confidence and clarity.
            </p>
            <div class="btn-box">
              {% comment %} <a href="">
                Read More
              </a> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- country section -->

  <section class="country_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Choose Country
        </h2>
        <p>
          Select country you want to apply visa for
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a href="cspec" class="box">
            <img src="static/images/c1.jpg" alt="">
            <div class="detail-box">
              <h3>
                France
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="cspec" class="box">
            <img src="static/images/c2.jpg" alt="">
            <div class="detail-box">
              <h3>
                Canada
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="cspec" class="box">
            <img src="static/images/c3.jpg" alt="">
            <div class="detail-box">
              <h3>
                United States
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="cspec" class="box">
            <img src="static/images/c4.jpg" alt="">
            <div class="detail-box">
              <h3>
                New Zealand
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="cspec" class="box">
            <img src="static/images/c5.jpg" alt="">
            <div class="detail-box">
              <h3>
                Australia
              </h3>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a href="cspec" class="box">
            <img src="static/images/c6.jpg" alt="">
            <div class="detail-box">
              <h3>
                Spain
              </h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end country section -->

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="contact_bg_box">
      <img src="static/images/contact-bg.jpg" alt="">
    </div>
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="form_container">
           
            <form method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" name="fname" class="form-control" placeholder="First Name" required/>
                </div>
                <div class="form-group col-md-6">
                  <input type="text" name="lname" class="form-control" placeholder="Last Name" required />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="email" name="email" class="form-control" placeholder="Email" required />
                </div>
                <div class="form-group col-md-6">
                  <input type="number"  name="pn" class="form-control" placeholder="Phone Number" required/>
                </div>
              </div>
              <div class="form-group ">
                <input type="text"  name="message" class="message-box" placeholder="Message" required />
              </div>
              <div class="btn-box">
                <button type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container">
        {% comment %} <h2>
          What Says Our Client
        </h2> {% endcomment %}
      </div>
      <div class="client_container">
        <div class="carousel-wrap ">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="static/images/client-1.jpg" alt="" class="img-1">
                </div>
                <div class="detail-box">
                  <h5>
                    Mark Evans
                  </h5>
                  <h6>
                    Magna
                  </h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="static/images/client-2.jpg" alt="" class="img-1">
                </div>
                <div class="detail-box">
                  <h5>
                    Anthony White
                  </h5>
                  <h6>
                    Magna
                  </h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="static/images/client-1.jpg" alt="" class="img-1">
                </div>
                <div class="detail-box">
                  <h5>
                    Mark Evans
                  </h5>
                  <h6>
                    Magna
                  </h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="static/images/client-2.jpg" alt="" class="img-1">
                </div>
                <div class="detail-box">
                  <h5>
                    Anthony White
                  </h5>
                  <h6>
                    Magna
                  </h6>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->


  <!-- info section -->
 
{% include "footer.html" %}