{% include "header.html" %}

  

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our services
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="images/s1.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Business Visa
              </h6>
              <p>
                Thorough preparation and clear business intent are crucial for securing a business visa, facilitating international partnerships, and expanding global market presence              </p>
              </p>
              {% comment %} <a href="">
                Read More
              </a> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="images/s2.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Work Visa
              </h6>
              <p>
                Diligent documentation and meeting specific qualifications are essential for obtaining a work visa, enabling international employment and career growth opportunities              </p>
              </p>
              {% comment %} <a href="">
                Read More
              </a> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="images/s3.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Tourist Visa
              </h6>
              <p>
                Ensure your travel plans are detailed and accommodation bookings confirmed to successfully apply for a tourist visa for leisure or exploration.              </p>
              </p>
              {% comment %} <a href="">
                Read More
              </a> {% endcomment %}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box ">
            <div class="img-box">
              <img src="images/s4.png" alt="">
            </div>
            <div class="detail-box">
              <h6>
                Student Visa
              </h6>
              <p>
                Achieving academic documentation and proof of financial stability is fundamental for securing a student visa for international education opportunities              </p>
              </p>
              {% comment %} <a href="">
                Read More
              </a> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- info section -->
 

  <!-- end info_section -->

  {% include "footer.html" %}
